fastapi
uvicorn
python-dotenv
SQLAlchemy
psycopg2-binary
supabase
google-generativeai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
whisper-openai
numpy
scipy
soundfile
gTTS
reportlab
python-multipart
msal
slack_sdk